{% extends "base.html" %}

{% block content %}
<div class="page-container auth-page">
    <div class="content-card auth-card">
        <h1 class="page-title auth-title">パスワード変更</h1>

        {% if form.non_field_errors %}
            <div class="form-error-message">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" class="auth-form">
            {% csrf_token %}

           <div class="auth-form-group">
                <label>現在のパスワード</label>
                {{ form.current_password }}

                {% if form.current_password.errors %}
                    <div class="form-error-message">
                        {{ form.current_password.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="auth-form-group">
                <label>新しいパスワード</label>

                {{ form.new_password1 }}

                <p class="password-rule-text">
                    英字と数字を含む8文字以上で入力してください
                </p>

                    {% if form.new_password1.errors %}
                    <div class="form-error-message">
                        {{ form.new_password1.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="auth-form-group">
                <label>新しいパスワード（確認）</label>
                {{ form.new_password2 }}

                {% if form.new_password2.errors %}
                    <div class="form-error-message">
                        {{ form.new_password2.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="auth-submit">
                <button type="submit" class="save-button auth-submit-button">変更</button>
                <a href="{% url 'accounts:mypage' %}" class="back-button">戻る</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}