{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}うちごはんプランナー{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
</head>
<body>
<header class="site-header">
    <div class="header-inner">
        <h1 class="site-title">
            <a href="{% url 'top' %}">うちごはんプランナー</a>
        </h1>

        <nav class="main-nav">
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:mypage' %}" class="nav-link">👤</a>
                
                <form action="{% url 'accounts:logout' %}" method="POST" style="display:inline;" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">🚪</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:signup' %}" class="nav-link">新規登録</a>
                <a href="{% url 'accounts:login' %}" class="nav-link">ログイン</a>
            {% endif %}
        </nav>
    </div>

        <hr>
    </header>
    
    {% if messages %}
        <ul class="message-list">
            {% for message in messages %}
            <li class="message-item {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

   {% if user.is_authenticated %}
    <nav class="bottom-nav">
        <a href="{% url 'home' %}" class="bottom-nav__item">ホーム</a>
        <a href="{% url 'recipes:recipe_list' %}" class="bottom-nav__item">マイレシピ</a>
        <a href="{% url 'recipes:home_food_list' %}" class="bottom-nav__item">おうち食材</a>
        <a href="{% url 'recipes:menu_calendar' %}" class="bottom-nav__item">献立</a>
        <a href="{% url 'recipes:shopping_list' %}" class="bottom-nav__item">買い物リスト</a>
    </nav>
    {% endif %}
    
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

</body>
</html>