{% extends "base.html" %}

{% block title %}献立編集 | うちごはんプランナー{% endblock %}

{% block content %}
<div class="menu-edit-container">

    <h2>{{ menu_day.plan_date }}の献立保存</h2>

    <p>
        <a href="{% url 'recipes:menu_detail' plan_date=menu_day.plan_date %}" class="back-button">献立詳細へ戻る</a>
    </p>

    <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
            <div class="error-box">
                {{ form.errors }}
            </div>
        {% endif %}

        <div class="menu-info">
            <label>献立日</label>
            <p>{{ menu_day.plan_date }}</p>
        
            <label>外食</label>
            {{ form.eat_out }}

            <label>惣菜</label>
            {{ form.deli }}
        </div>

        <hr>

        <div class="slot-list">
            {% for slot in slots %}
                <div class="slot-card">
        
                    <h3 class="slot-title">
                        {% if slot.meal_type == "staple" %}主食
                        {% elif slot.meal_type == "main" %}主菜
                        {% elif slot.meal_type == "side" %}副菜
                        {% elif slot.meal_type == "soup" %}汁物
                        {% endif %}
                    </h3>

                    <p class="label">現在のレシピ</p>

                    <p class="recipe-name">
                        {% if slot.recipe %}
                            {{ slot.recipe.recipe_name }}
                        {% else %}
                            レシピが設定されていません
                        {% endif %}
                    </p>

                     <a href="{% url 'recipes:menu_slot_update' slot_id=slot.id %}" class="search-button">
                        探す
                    </a>

                </div>
            {% endfor %}
        </div>

        <button type="submit" class="save-button">献立保存</button>
        
        <a href="{% url 'recipes:menu_detail' plan_date=menu_day.plan_date %}" class="back-button">
            戻る
        </a>
        
    </form>
</div>

{% endblock %}