{% extends "base.html" %}

{% block title %}献立編集 | うちごはんプランナー{% endblock %}

{% block content %}
<h2>{{ menu_day.plan_date }}の献立編集</h2>

<p>
    <a href="{% url 'recipes:menu_detail' plan_date=menu_day.plan_date %}" class="back-button">献立詳細へ戻る</a>
</p>

<form method="POST">
    {% csrf_token %}

     {% if form.errors %}
        <div class="error-box">
            {{ form.errors }}
        </div>
    {% endif %}

    <div class="form-group">
        <label>献立日</label>
        <p>{{ menu_day.plan_date }}</p>
    </div>

    <div class="form-group">
        {{ form.eat_out.label_tag }}
        {{ form.eat_out }}
    </div>

    <div class="form-group">
        {{ form.deli.label_tag }}
        {{ form.deli }}
    </div>

    <hr>

    {% for slot in slots %}
        <div class="slot-card">
            <h3 class="slot-title">
                {% if slot.meal_type == "staple" %}主食
                {% elif slot.meal_type == "main" %}主菜
                {% elif slot.meal_type == "side" %}副菜
                {% elif slot.meal_type == "soup" %}汁物
                {% endif %}
            </h3>
            <p class="slot-recipe-label">現在のレシピ</p>

            <p class="slot-recipe-name">
                {% if slot.recipe %}
                    {{ slot.recipe.recipe_name }}
                {% else %}
                    未登録
                {% endif %}
            </p>

            <a href="{% url 'recipes:menu_slot_update' slot_id=slot.id %}" class="search-button">探す</a>
        </div>
        <hr>
    {% endfor %}

    <button type="submit" class="save-button">献立保存</button>
    <a href="{% url 'recipes:menu_detail' plan_date=menu_day.plan_date %}" class="back-button">戻る</a>
</form>

{% endblock %}