{% extends "base.html" %}

{% block content %}

<h1>≪レシピ編集≫</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>【写真】{{ form.image }}</p>

    <p>【参照URL】{{ form.reference_url }}</p>

    <p>【レシピ名】{{ form.recipe_name }}</p>

    <p>【カテゴリ】{{ form.menu_category }}</p>

    <p>【作る量】{{ form.servings }}</p>

    <p>【材料】</p>
    {{ ingredient_formset.management_form }}
    {% for ingredient_form in ingredient_formset %}
        <div>
            {{ ingredient_form.as_p }}
        </div>
    {% endfor %}

    <p>【作り方】</p>
    {{ step_formset.management_form }}
    {% for form in step_formset %}
        <div>
            {{ forloop.counter }}.
            {{ form.instruction }}
        </div>
{% endfor %}

    <p>【メモ】</p>
    <p>{{ form.memo }}</p>

    <p>
        <button type="submit" class="save-button">登録</button>
    </p>
</form>

<p>
    <a href="{% url 'recipes:recipe_list' %}">
        レシピ一覧に戻る
    </a>
</p>

{% endblock %}