{% extends "base.html" %}

{% block content %}
<div class="shopping-list-page">
    <h1>買い物リスト</h1>

    <h2>食材を追加</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.food_item }}
        <button type="submit" class="save-button">＋追加</button>
    </form>

    <div class="page-actions">
        <a href="{% url 'recipes:menu_calendar' %}" class="back-button">戻る</a>
    </div>

    {% if shopping_items %}
        <ul class="shopping-list">
            {% for item in shopping_items %}
        <li class="shopping-list-item">
            <span>{{ item.food_item.ingredient_name }}</span>

            <form method="post" action="{% url 'recipes:shopping_list_delete' item.id %}">
                {% csrf_token %}
                <button type="submit" class="back-button">削除</button>
            </form>
        </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>買い物リストはまだありません。</p>
    {% endif %}
</div>
{% endblock %}